In [5]:
import redis
import pandas as pd
from io import BytesIO

# 連接到Redis
redis_host = 'localhost'
redis_port = 6379

r = redis.Redis(host=redis_host, port=redis_port, db=0)

# 從Redis取得pickled的DataFrame資料
data = r.get('strategy_df')

if data is not None:
    # 使用BytesIO將bytes轉成檔案物件，再用pd.read_pickle讀入
    buffer = BytesIO(data)
    df = pd.read_pickle(buffer)

    # 顯示DataFrame資訊
    print("DataFrame Columns:", df.columns)
    print("DataFrame Head:")
    display(df.tail(30))
    print("DataFrame Info:")
    display(df.info())
else:
    print("No data found for 'strategy_df' in Redis.")

DataFrame Columns: Index(['date', 'open', 'high', 'low', 'close', 'volume', 'atr', 'direction',
       'signal'],
      dtype='object')
DataFrame Head:

,date,open,high,low,close,volume,atr,direction,signal
0,2024-12-31 10:15:00+08:00,92498.0,92598.0,92492.0,92519.0,104.40174,NaN,up,0.0
1,2024-12-31 10:20:00+08:00,92519.0,92557.0,92439.0,92522.0,133.50243,NaN,up,0.0
2,2024-12-31 10:25:00+08:00,92509.0,92628.0,92490.0,92611.0,83.49478,NaN,up,0.0
3,2024-12-31 10:30:00+08:00,92618.0,92728.0,92612.0,92649.0,126.93702,NaN,up,0.0
4,2024-12-31 10:35:00+08:00,92650.0,92682.0,92512.0,92574.0,87.43222,NaN,up,0.0
5,2024-12-31 10:40:00+08:00,92574.0,92615.0,92487.0,92518.0,44.65979,NaN,up,0.0
6,2024-12-31 10:45:00+08:00,92517.0,92615.0,92503.0,92540.0,121.05032,NaN,up,0.0
7,2024-12-31 10:50:00+08:00,92539.0,92605.0,92507.0,92535.0,77.18258,NaN,up,0.0
8,2024-12-31 10:55:00+08:00,92535.0,92570.0,92475.0,92477.0,105.27805,NaN,up,0.0
9,2024-12-31 11:00:00+08:00,92477.0,92526.0,92319.0,92326.0,105.76280,NaN,up,0.0
10,2024-12-31 11:05:00+08:00,92331.0,92416.0,92209.0,92339.0,132.45880,NaN,up,0.0
11,2024-12-31 11:10:00+08:00,92334.0,92394.0,92327.0,92344.0,46.48731,NaN,up,0.0
12,2024-12-31 11:15:00+08:00,92344.0,92405.0,92290.0,92364.0,48.93873,NaN,up,0.0
13,2024-12-31 11:20:00+08:00,92358.0,92632.0,92348.0,92621.0,110.74384,140.142857,up,0.0
14,2024-12-31 11:25:00+08:00,92635.0,92664.0,92529.0,92562.0,69.01025,142.214286,up,0.0
15,2024-12-31 11:30:00+08:00,92565.0,92641.0,92526.0,92570.0,95.66697,142.000000,up,0.0
16,2024-12-31 11:35:00+08:00,92488.0,92494.0,92403.0,92438.0,128.03600,144.071429,up,0.0
17,2024-12-31 11:40:00+08:00,92437.0,92467.0,92342.0,92368.0,175.12400,144.642857,up,0.0
18,2024-12-31 11:45:00+08:00,92367.0,92460.0,92270.0,92426.0,235.94500,146.071429,up,0.0

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       19 non-null     datetime64[ns, Asia/Taipei]
 1   open       19 non-null     float64
 2   high       19 non-null     float64
 3   low        19 non-null     float64
 4   close      19 non-null     float64
 5   volume     19 non-null     float64
 6   atr        6 non-null      float64
 7   direction  19 non-null     object
 8   signal     19 non-null     float64
dtypes: datetime64[ns, Asia/Taipei](1), float64(7), object(1)
memory usage: 1.5+ KB

None